/* Tucker S */
/* -------------------- Navigation Bar -------------------- */

.navBarDiv {
    width: 100%;
	position: fixed;
    background-color: var(--base1Dark);
    color: var(--baseWhite);
    padding: 0px;
    padding-top: 0px;
    text-align: center;
    display: inline-block;
    font-family: monospace;
    position: relative;
    z-index: 4;
	border-bottom: solid var(--primary) 4px;
}
.navBarDiv ul li {
    display: inline;
    padding-right: 50px;
    font-size: 20px;
    background-color: var(--base1Dark);
    border-bottom: 13px solid var(--base1Dark);
    border-top: 46px solid var(--base1Dark);
}
.navBarDiv ul li a {
    text-decoration: none;
    color: var(--white);
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    transition: color .25s;
}
.navBarDiv ul li a:hover {
    color: var(--primary);
}
.headerLogo {
    padding-right: 25px;
	position: absolute;
	height: 35px;
	left: 9px;
	top: 9px;
}
.iconColored {
	color: var(--primary);
}

/* -------------------- Drop Downs -------------------- */

.dropDown li {
    position: relative;
    z-index: 10000;
}
.dropDown {
    position: relative;
    display: inline-block;
	z-index: 1000;
}
.dropDown:hover li a {
    color: var(--primary);
}
.dropDownContent {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2); /* BOX SHADOWS TEMPLATE */
	text-align: left;
	padding-top: 4px;
	background-color: var(--primary);
}
.dropDownContent a {
    color: var(--white);
    font-size: 14px;
    background-color: var(--primary);
    -webkit-transition: background-color .25s;
    -moz-transition: background-color .25s;
    transition: background-color .25s;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}
.dropDownContent a:hover {
    background-color: var(--primaryDark);
}
.dropDown:hover .dropDownContent {
	margin-top: 13px;
	display: block;
}
