/* Tucker S */
/* -------------------- Initialize -------------------- */

:root {
	/* dark bw colors */
    --blackDark: #111111; /* dark gray */
    --blackMedium: #222222; /* medium gray */
    --blackLight: #333333; /* light gray */
    
    /* primary colors */
    --cyan: #0094FF; /* electric blue */
    --cyanDark: #004A7F; /* darker electric blue */
    
    /* #FF3232 #AF2323 */
    
    /* secondary colors */
    --red: #FF3232; /* red */
    --redDark: #AF2323; /* dark red */
    
    /* light bw colors */
    --whiteMedium: #E5E5E5; /* very light gray */
    --whiteLight: #F7F7F7; /* almost white */
	--white: white; /* white */
    --whiteDark: #999999; /* light gray */
}
@font-face {
	font-family: tall;
	src: url(fonts/OstrichSansRounded-Medium.otf);
}
@font-face {
	font-family: bold;
	src: url(fonts/OstrichSans-Bold.otf);
}
html, body {
    padding: 0px;
    margin: 0px;
}

/* -------------------- Body -------------------- */

.bodyDivWide {
    margin: auto;
    padding: 15px;
    margin-top: 0;
}
.bodyDivThin {
    margin: auto;
    padding: 15px;
    margin-top: 0;
    width: 50%; /* body width */
}